b'\n\n\n\n\n\n\n\n\n<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">\n\n\n\n\n\n\n\n\n
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">\n\t
<head>\n\t <title>CAS &#8211; Central Authentication Service</title>\n \n \n \n \n
    <link type="text/css" rel="stylesheet" href="/cas/css/cas.css;jsessionid=B978322E4D2CBFF02092FB1B3282629E"/>
    \n \n \n
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    \n\t
    <link rel="icon" href="/cas/favicon.ico;jsessionid=B978322E4D2CBFF02092FB1B3282629E" type="image/x-icon"/>
    \n\t
</head>
\n\t
<body id="cas" class="fl-theme-iphone">\n
<div class="flc-screenNavigator-view-container">\n
    <div class="fl-screenNavigator-view">\n
        <div id="header" class="flc-screenNavigator-navbar fl-navbar fl-table">\n <h1 id="app-name"
                                                                                      class="fl-table-cell">
            \xe4\xbc\x9f\xe4\xbb\x95\xe4\xba\x91\xe5\xae\x89\xe7\xbb\x9f\xe4\xb8\x80\xe8\xae\xa4\xe8\xaf\x81\xe7\xb3\xbb\xe7\xbb\x9f</h1>
            \n
        </div>
        \t\t\n
        <div id="content" class="fl-screenNavigator-scroll-container">\n\n\n
            <div class="box fl-panel" id="login">\n\t\t\t
                <form id="fm1" class="fm-v clearfix"
                      action="/cas/login;jsessionid=B978322E4D2CBFF02092FB1B3282629E?service=itsm.ecscloud.com"
                      method="post">\n \n
                    <!-- Congratulations on bringing CAS online!  The default authentication handler authenticates where usernames equal passwords: go ahead, try it out. -->
                    \n <h2>Enter your Username and Password</h2>\n
                    <div class="row fl-controls-left">\n <label for="username" class="fl-label"><span class="accesskey">U</span>sername:</label>\n\t\t\t\t\t\t\n\n\t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t<input
                            id="username" name="username" class="required" tabindex="1" accesskey="u" type="text"
                            value="" size="25" autocomplete="false"/>\n\t\t\t\t\t\t\n
                    </div>
                    \n
                    <div class="row fl-controls-left">\n <label for="password" class="fl-label"><span class="accesskey">P</span>assword:</label>\n\t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t<input
                            id="password" name="password" class="required" tabindex="2" accesskey="p" type="password"
                            value="" size="25" autocomplete="off"/>\n
                    </div>
                    \n
                    <div class="row check">\n <input id="warn" name="warn" value="true" tabindex="3" accesskey="w"
                                                     type="checkbox"/>\n <label for="warn"><span
                            class="accesskey">W</span>arn me before logging me into other sites.</label>\n
                    </div>
                    \n
                    <div class="row btn-row">\n\t\t\t\t\t\t<input type="hidden" name="lt"
                                                                  value="LT-186-QMGLykQnwmiy55tHagBT4X5oEIihPu"/>\n\t\t\t\t\t\t<input
                            type="hidden" name="execution" value="e1s1"/>\n\t\t\t\t\t\t<input type="hidden"
                                                                                              name="_eventId"
                                                                                              value="submit"/>\n\n
                        <input class="btn-submit" name="submit" accesskey="l" value="LOGIN" tabindex="4" type="submit"/>\n\t\t\t\t\t\t<input
                                class="btn-reset" name="reset" accesskey="c" value="CLEAR" tabindex="5" type="reset"/>\n\t\t\t\t\t\t<br>\n\t\t\t\t\t\t\n\t\t\t\t\t
                    </div>
                    \n\t\t\t\t\t
                    <div class="row btn-row"><a href="http://123.58.242.207:8081/accounts/register/">\xe6\xb3\xa8\xe5\x86\x8c\xe6\x96\xb0\xe7\x94\xa8\xe6\x88\xb7</a>
                    </div>
                    \n
                </form>
                \n
            </div>
            \n
            <div id="sidebar">\n <p class="fl-panel fl-note fl-bevel-white fl-font-size-80">For security reasons, please
                Log Out and Exit your web browser when you are done accessing services that require authentication!</p>
                \n
                <div id="list-languages" class="fl-panel">\n \n\t\t\t\t\t\n \n <h3>Languages:</h3>\n \n \n \n
                    \n\t\t\t\t\t\t
                    <ul
                    \n\t\t\t\t\t\t\t>
                    <li class="first"><a href="login?service=itsm.ecscloud.com&locale=en">English</a></li
                            \n\t\t\t\t\t\t\t>
                    <li><a href="login?service=itsm.ecscloud.com&locale=es">Spanish</a></li\n\t\t\t\t\t\t\t>
                    <li><a href="login?service=itsm.ecscloud.com&locale=fr">French</a></li\n\t\t\t\t\t\t\t>
                    <li><a href="login?service=itsm.ecscloud.com&locale=ru">Russian</a></li\n\t\t\t\t\t\t\t>
                    <li><a href="login?service=itsm.ecscloud.com&locale=nl">Nederlands</a></li\n\t\t\t\t\t\t\t>
                    <li><a href="login?service=itsm.ecscloud.com&locale=sv">Svenskt</a></li\n\t\t\t\t\t\t\t>
                    <li><a href="login?service=itsm.ecscloud.com&locale=it">Italiano</a></li\n\t\t\t\t\t\t\t>
                    <li><a href="login?service=itsm.ecscloud.com&locale=ur">Urdu</a></li\n\t\t\t\t\t\t\t>
                    <li><a href="login?service=itsm.ecscloud.com&locale=zh_CN">Chinese (Simplified)</a></li\n >
                    <li><a href="login?service=itsm.ecscloud.com&locale=zh_TW">Chinese (Traditional)</a></li
                            \n\t\t\t\t\t\t\t>
                    <li><a href="login?service=itsm.ecscloud.com&locale=de">Deutsch</a></li\n\t\t\t\t\t\t\t>
                    <li><a href="login?service=itsm.ecscloud.com&locale=ja">Japanese</a></li\n\t\t\t\t\t\t\t>
                    <li><a href="login?service=itsm.ecscloud.com&locale=hr">Croatian</a></li\n\t\t\t\t\t\t\t>
                    <li><a href="login?service=itsm.ecscloud.com&locale=cs">Czech</a></li\n\t\t\t\t\t\t\t>
                    <li><a href="login?service=itsm.ecscloud.com&locale=sl">Slovenian</a></li\n >
                    <li><a href="login?service=itsm.ecscloud.com&locale=ca">Catalan</a></li\n >
                    <li><a href="login?service=itsm.ecscloud.com&locale=mk">Macedonian</a></li\n >
                    <li><a href="login?service=itsm.ecscloud.com&locale=fa">Farsi</a></li\n >
                    <li><a href="login?service=itsm.ecscloud.com&locale=ar">Arabic</a></li\n\t\t\t\t\t\t\t>
                    <li class="last"><a href="login?service=itsm.ecscloud.com&locale=pl">Polish</a></li\n\t\t\t\t\t\t>
                    </ul>\n \n \n
                </div>
                \n
            </div>
            \n<br><br><br><br><br>\n\n \n\n<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">\n\n\n\n\n\n\n\n\n
            <html xmlns="http://www.w3.org/1999/xhtml" lang="en">\n\t
            <head>\n\n
        </div>
        \n
        <div id="footer" class="fl-panel fl-note fl-bevel-white fl-font-size-80">\n
            <div id="copyright">\n <p>Copyright &copy; 2018 - 2020 Jasig, Inc. All rights reserved.</p>\n <p>Powered by
                <a href="http://http://www.ecscloud.com">\xe4\xbc\x9f\xe4\xbb\x95\xe4\xba\x91\xe5\xae\x89</a></p>\n
            </div>
            \n
        </div>
        \n
    </div>
    \n
</div>
\n
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
\n
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
\n \n</head>\n
<body>\n</body>
\n
</html>\n\n'
